/* fichier Search.css */
.container {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* text-align: center; */
  }

.search {
    padding: 5px 20px;
}

.search fieldset {
    margin: 20px 0px;
}

.search label {
    display: block;
}

.search input {
    /* Margin-left: 100px; */
    Font-size: 1.4rem;
}

/* .list-page {
    background-color: #f0f0f0;
    padding: 40px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1000px; /* Ajoute de la marge supplémentaire pour éviter le chevauchement */
    /*color: black;
  } */